*.java linguist-detectable=false
*.cpp linguist-detectable=false
*.mm linguist-detectable=false
*.h linguist-detectable=false
*.m linguist-detectable=false
*.lock linguist-detectable=false
*.bzl linguist-detectable=false
*.mk linguist-detectable=false
*.env linguist-detectable=false
*.js linguist-detectable=false
*Gemfile linguist-vendored
*ios/Podfile linguist-vendored
*Gemfile.lock linguist-vendored
*android/gradlew linguist-vendored
